import(survival)
import(glmnet)
import(hdnom)
import(MASS)
import(stats)

importFrom("utils", "txtProgressBar", "setTxtProgressBar")
  
importFrom("graphics", "abline", "lines", "plot.default", "grid", "segments")

export(gc_survival)

S3method(print, gcsurv)
#S3method(plot, gcsurv)
#S3method(summary, gcsurv)
