import(survival)
import(glmnet)
import(hdnom)
import(MASS)
import(stats)
import(mice)

importFrom("utils", "txtProgressBar", "setTxtProgressBar")
importFrom("graphics", "abline", "lines", "plot.default", "grid", "segments", "legend")
importFrom("grDevices", "adjustcolor")
importFrom("methods", "hasArg")
importFrom("graphics", "axis")

export(gc_logistic)
export(miboot_gc_logistic)
export(gc_survival)
export(miboot_gc_survival)
export(transpose)

S3method(print, gcsurv)
S3method(plot, gcsurv)
S3method(summary, gcsurv)
S3method(print, gclogi)
S3method(plot, gclogi)
S3method(summary, gclogi)
